@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap');
body{
    background: whitesmoke;
    -webkit-font-smoothing: antialiased ;
    font-family: 'Mulish', sans-serif;
}
.btn{
    float:right;
    margin: 10px;
}

.comment__box{
    list-style-type: none;
    padding-left: 0;
}

.comment__box .comment h5{
    font-weight: 800;
}
p{
    font-size: 16px;
}
.comment{
    animation: everything .6s ease forwards;
}

@keyframes everything {
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}